.main-container {
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    align-content: stretch; 
    flex-wrap: wrap;
    /*background-color: lightgrey;*/
    position: relative;
    height:100%;
}

.main {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

/*.main-items {
    margin: 10px;
}*/

.menu-items {
    flex: 1;
    margin: 0;
    background-color: rgb(48, 63, 148);
    color: white;
}
.main-content {
    flex: 5;
}

.site-color {
    background-color:rgb(48, 63, 148);
}
.text-color {
    color: white;
}

.icon-cls {
    padding: 5px;
    cursor: pointer;
}

/*#sidenav {
      background-color: black;
      flex: 1;
}*/

.full-width-cls {
    width: 100%;
}

.name-cls {
    font-weight: bold;
    font-size: larger;
    margin: 0 0 0 10px;
    padding: 5px;
}

.abs-cls {
    position: absolute;
}

.rel-cls {
    position: relative;
}
.menu-margin-cls {
    margin-top: 15%; /* used to align side menus correctly*/
}

.site-accent-color {
    background-color: #F5FDFB;
}

.accent-text-color {
    color: #334296;
}

.small-font-cls {
    font-size: medium;    
}

.min-width-cls {
    width: 10px;
}
.footer-cls {
    overflow: hidden;
}
/**
* media queries
*/

@media screen and (min-width: 0px) and (max-width: 1024px) {
  #menuItems { 
    display: none;
  }
  
  #mobile-toolbar {
    display: block;
  }

  #desktop-toolbar {
      display: none;
  }
  /*#sidenav {
      display: none;
  }*/
  /*#desktop-icon{
      display: none;
  }
  #mobile-icon {
      display: block;
  }*/
}

@media screen and (min-width: 1024px){

  #menuItems { 
    display: flex; 
  }
  #sidenav {
      display:none;
  }

  #mobile-toolbar {
    display: none;
  }
  
  #desktop-toolbar {
      display: block;
  }
  /*#desktop-icon {
      display: block;
  }
  #mobile-icon {
      display: none;
  }*/
}