.main-container {
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    align-content: stretch; 
    flex-wrap: wrap;
    /*background-color: lightgrey;*/
    position: relative;
    height:100%;
}

.main {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.main-items {
    /*background-color: cornflowerblue;*/
    margin: 10px;
}

.menu-items {
    flex: 1;
    margin: 0;
    background-color: rgb(48, 63, 148);
    color: white;
}
.main-content {
    flex: 5;
}

.site-color {
    background-color:rgb(48, 63, 148);
}
.text-color {
    color: white;
}

.icon-cls {
    padding: 5px;
    cursor: pointer;
}

/*#sidenav {
      background-color: black;
      flex: 1;
}*/

md-nav-list {
    width: 100%;
}
  
/**
* media queries
*/

@media screen and (min-width: 0px) and (max-width: 1024px) {
  #menuItems { 
    display: none;
  }
  /*#sidenav {
      display: none;
  }*/
  #desktop-icon{
      display: none;
  }
  #mobile-icon {
      display: block;
  }
}

@media screen and (min-width: 1024px){
  #menuItems { 
    display: flex; 
  }
  #sidenav {
      display:none;
  }

  #desktop-icon {
      display: block;
  }
  #mobile-icon {
      display: none;
  }
}